<%- include('partials/_htmlhead'); -%>

<body>
    <h1><%= title %></h1>
    <ul>
        <% multiArray.forEach(item => { %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</body>

<%- include('partials/_htmlfoot'); -%>S