<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ROT13 Encoder/Decoder</h1>
    <form action="/encode" method="GET">
        <label for="text">Insert normal text:</label><br>
        <textarea id="text" name="text"></textarea><br>
        <button type="submit">Encode</button>
    </form>
    <p>Decoded text: <%= data.encoded %></p>
    <br>
    <form action="/decode" method="GET">
        <label for="encodedText">Insert encoded Text:</label><br>
        <textarea id="encodedText" name="text"></textarea><br>
        <button type="submit">Decode</button>
    </form>
    <p>Encoded text: <%= data.decoded %></p>
</body>
</html>